body{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin: 0;
color: greenyellow;
}
.pragraph{
    color: rebeccapurple;
}
h1{
font-size: 50px;
}
.color{
    color: blue;
}


section{

    display: flex;
    box-shadow: 10px 20px 10px 20px grey;
    padding-left: 100px;
    margin-bottom: 100px;
    margin-top: 100px;
    margin-right: 50px;
    border-radius: 30px;
    margin-left: 50px;
}
.half-width{
    width: 50%;
    
    
}
.half-width img{ padding-right: 0%;
    border-radius: 20px;
    


}

.link-button{
    text-decoration: none;
    background: springgreen;
    color: cornsilk;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 10px;
    



}
.topbaner{

    background-image: url(img/second.png);
background-repeat: no-repeat;
}
.secondsection{
    background-image: url(img/first.png);
    background-repeat: no-repeat;

    display: flex;
    box-shadow: 10px 20px 10px 20px grey;
    padding-left: 100px;
    margin-bottom: 100px;
    margin-top: 100px;
    margin-right: 50px;
    border-radius: 30px;
    margin-left: 50px;
}




}
.secondimg img{
    

    border-radius: 50px; width: 50%;
}











